{
  "name": "{{ project_name }}",
  "dockerComposeFile": ["docker-compose.yml", "../docker/docker-compose.yml"],
  "service": "devcontainer",
  "workspaceFolder": "/workspaces/{{ workspace_dir_name }}",
  "remoteUser": "vscode",
  "updateRemoteUserUID": true,
  "containerEnv": {
    "UV_PROJECT_ENVIRONMENT": "/workspaces/{{ workspace_dir_name }}/.venv"
  },
  "mounts": [
    "source=uv-cache,target=/root/.cache/uv,type=volume"
  ],
  "features": {
    "ghcr.io/devcontainers/features/docker-outside-of-docker:1": {
      "moby": false
    },
    "ghcr.io/devcontainers/features/common-utils:2": {}
  },
  "postCreateCommand": "make setup",
  "customizations": {
    "vscode": {
      "settings": {
        "python.terminal.useEnvFile": true,
        "python.terminal.activateEnvInSelectedTerminal": true,
        "python.defaultInterpreterPath": "${workspaceFolder}/.venv/bin/python",
        "ruff.interpreter": ["${workspaceFolder}/.venv/bin/python"],
        "mypy-type-checker.interpreter": ["${workspaceFolder}/.venv/bin/python"]
      },
      "extensions": {{ recommended_extensions | tojson(indent=2) | indent(6) }}
    }
  }
}
