{
  "name": "{{ project_name }}",
  "dockerComposeFile": ["docker-compose.yml", "../docker/docker-compose.yml"],
  "service": "devcontainer",
  "workspaceFolder": "/workspaces/{{ workspace_dir_name }}",
  "remoteUser": "vscode",
  "updateRemoteUserUID": true,
  "features": {
    "ghcr.io/devcontainers/features/docker-outside-of-docker:1": {
      "moby": false
    },
    "ghcr.io/devcontainers/features/common-utils:2": {}
  },
  "postCreateCommand": "make setup",
  "customizations": {
    "vscode": {
      "settings": {
        "python.terminal.useEnvFile": true
      },
      "extensions": {{ recommended_extensions | tojson(indent=2) | indent(6) }}
    }
  }
}
