services:
  devcontainer:
    image: mcr.microsoft.com/devcontainers/python:{{ python_version }}
    environment:
      UV_LINK_MODE: copy
    volumes:
      - ..:/workspaces/{{ workspace_dir_name }}:cached
    command: sleep infinity
